html, body, main {
  height: 100%!important;
  padding: 0;
  overflow: hidden;
}

#chatNav {
  padding: 0;
}

.fullHeight {
  height: 100%!important;
  margin: 0;
}

.menuDropDownBtn {
  float: right;
  display: block;
}

.menuBtnText {
  font-size: 1.5rem!important;
}

.plus {
  font-size: 2rem!important;
}

.dropdown-content {
  color: #ff6363;
}

.chatMembers {
  margin-top: 1px;
  font-weight: lighter;
  font-size: 1vw;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#settings {
  height: 100%;
  width: 100%;
  margin: 0;
}

.chatOptionsBtn {
  color: rgb(36, 36, 36);
}

.chatName {
  margin-bottom: 0px;
}

.chatLink {
  width: 100%;
  font-size: 1.3vw;
  opacity: 1;
}

.chatContent {
  width: 100%;
  height: 5vw;
  border-top: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuDropDownBtn {
  background-color: rgba(255, 255, 255, 0)!important;
  color: #ff6363;
}

.dropDownText {
  color: #ff6363!important;
}

.chatLink:hover {
  color: rgb(255, 99, 99)!important;
  transition-duration: 0.2s;
}

.profile-image {
  margin-top: 8%;
  width: 100%;
  height: auto;
}

.login-btn {
  margin-top: 5%;
}

.minFullHeight {
  min-height: 100%;
}

#messagesContainer {
  overflow-y: auto!important;
  overflow-x: hidden;
  height: 85%;
}

.menu-btn {
  float: right;
}

.input-field label {
  color: rgb(255, 99, 99);
}

.input-field input[type=text]:focus+label {
  color: #ff6363;
}

.menuBtnContainer {
  padding-left: 0.5px;
  padding-right: 0.5px;
}

a {
  color: #ff6363;
}

/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff6363;
  box-shadow: 0 1px 0 0 #ff6363;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #ff6363;
  box-shadow: 0 1px 0 0 #ff6363;
}

/* invalid color */

.input-field input[type=text].invalid {
  border-bottom: 1px solid #ff6363;
  box-shadow: 0 1px 0 0 #ff6363;
}

/* icon prefix focus color */

.input-field .prefix.active {
  color: #ff6363;
}

.btn {
  background-color: rgb(255, 99, 99);
}

.btn:hover {
  background-color: rgb(255, 138, 138);
}

#chatContainer {
  height: 80%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 5%;
  display: block;
}

.userName {
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 1.5vw;
}

.userEmail {
  margin-top: 1px;
  font-size: 1vw;
  font-weight: 300;
}

#userInfo {
  height: 17%;
}

.sender-image {
  float: left;
  height: auto;
  width: 2vw;
  margin-right: 5px;
}

.message-text {
  font-weight: 500;
  margin-bottom: 0px;
}

.message-sender {
  font-weight: 300;
  color: #696969;
  margin-top: 1px;
}

.message {
  display: block;
  width: 100%;
}

#newMessageContanier {
  margin: 0;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .userName {
    margin-bottom: 1px;
    font-weight: 500;
    text-align: left;
    margin-left: 0px;
  }
  .userEmail {
    margin-top: 1px;
    font-size: 1vw;
    font-weight: 300;
  }
  #userInfo {
    padding-left: 0px;
    padding-right: 0px;
  }
  #userInfoRow {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
