.app {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.chatNav {
  width: 30%;
  height: 100%;
  margin: 0;
}

.menu {
  width: 100%;
  height: 10%;
  border-bottom-style: solid;
  border-color: rgb(50, 50, 50);
  border-width: thin;
  padding-left: 3%;
  padding-right: 3%;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.inviteBtn {
  float: right;
}

.chatItem {
  width: 100%;
  padding-left: 5%;
  border-bottom-style: solid;
  border-color: #777777;
  border-width: thin;
  border-top-style: none;

  .name {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 1.3vw;
  }

  .members {
    margin-top: 2px;
    font-weight: 300;
  }
}

.chats {
  height: 90%;
  overflow-y: scroll;
}