@import 'varibles';
@import 'nav';

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.toggle-button {
  border: none;
  background-color: white;
  outline: none;
  color: $primary-color;
  display: inline;
}

#messages {
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 2%;
  margin-right: 2%;

  a {
    color: $primary-accent;
    font-style: none;
  }

  .message {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;

    .text {
      color: $primary-color;
      max-width: 80%;
      height: auto;
      display: inline-block;
      border-radius: $bubble-rounding;
      border-color: $text-bubble;
      border-style: solid;
      border-width: 1px;
      padding: 2% 5%;
      word-wrap: break-word;
      overflow: hidden;
    }

    .text.mine {
      background-color: $text-bubble;
      border-style: solid;
      border-width: 1px;
      float: right;
    }

    .messageText {
      margin-bottom: 0;
    }

    .messageSender {
      color: $light;
      margin-top: 1px;
      font-size: 3vw;
      margin-left: 10px;
    }
  }
}

.newMessage {
  padding: 2%;
  height: 15vw;
  width: 100%;
  padding-left: 4%;
  height: 10%;

  input {
    outline-width: 0;
    color: $primary-color;
    width: 100%;
    border: none;
    border-style: none;

    :focus {
      outline-width: 0;
      outline: none;
      border-style: none;
    }
  }
}