@import 'varibles';
@import 'nav';

.login {
  height: 100%;
  background-color: white;
  color: $primary-color;

  main {
    padding: 4%;

    h2 {
      font-size: 10vw;
      font-weight: bold;
      margin-bottom: 30%;
      @media screen and (min-width: 760px) {
        font-size: 5vw;
      }
    }

    button {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: none;
      border-radius: $rounding;
      color: white;
      height: 13vw;
      font-size: 5vw;
      font-weight: 400;
      background-color: $primary-color;
      @media screen and (min-width: 760px) {
        width: 50%;
        height: 7vw;
        font-size: 3vw;
      }
    }
  }
}