@import 'varibles';
@import 'nav';

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.menu.page {
  color: $primary-color;

  .searchForm {
    width: 100%;
    margin-bottom: 4%;
    margin-top: 2%;

    .searchChats {
      background-color: $text-bubble;
      border: none;
      border-radius: $rounding;
      width: 100%;
      height: 11vw;
      color: $primary-color;
      padding: 2%;
    }
  }

  main {
    height: 90%;
    padding: 5%;
  }

  h2 {
    font-size: 6vw;
    font-weight: bold;
  }

  .chatItem {
    width: 100%;
    display: inline-block;
    margin: 4% 0;

    a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      color: $primary-color;
      text-decoration: none;

      img {
        width: 20%;
        height: 20%;
      }

      .text {
        margin-left: 4%;

        p.name {
          font-weight: 700;
          margin-top: 4%;
          width: 100%;
        }

        p.desc {
          font-weight: 100;
          color: $light;
        }
      }
    }
  }

  .chats {
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .newChat {
    text-decoration: none;
    width: 100%;
    border: none;
    border-radius: $rounding;
    color: white;
    height: 15vw;
    font-size: 5vw;
    font-weight: bold;
    background-color: $primary-color;
  }
}