@import 'varibles';
@import 'nav';

.settings {
  main {
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-left: 2%;
    }
    /* Hide default HTML checkbox */
    .switch input {
      display: none;
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: $primary-color;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $primary-color;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    padding: 4%;

    h1 {
      font-weight: bold;
      font-size: 6vw;
      margin-bottom: 4%;
    }

    .switchDesc {
      color: $primary-color;
      font-size: 5vw;
      margin-right: 2%;
      line-height: 34px;
    }

    .settingsRow {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2%;
      margin-bottom: 2%;

      .desc {
        font-weight: bold;
        width: 100%;
        font-size: 4vw;
        display: block;
        flex: 0 0 100%;

        span {
          font-weight: 700;
          width: 100%;
          font-size: 3vw;
        }
      }
    }

    input {
      background-color: $text-bubble;
      border: none;
      border-radius: $rounding;
      width: 70%;
      height: 10vw;
      font-weight: 5vw;
      padding: 2%;
      font-size: 4vw;
    }

    .saveBtn {
      width: 22%;
      margin-left: 4%;
      background-color: $primary-color;
      border: none;
      border-radius: $rounding;
      height: 10vw;
      color: white;
      font-weight: bold;
      font-size: 3vw;
    }

    .deleteBtn {
      width: 90%;
      background-color: $secondary-color;
      border: none;
      border-radius: $rounding;
      height: 10vw;
      color: white;
      font-weight: bold;
      font-size: 4vw;
      position: absolute;
      bottom: 2%;
    }
  }
}