@import 'varibles';
@import 'nav';

.settings {
  main {
    padding: 4%;

    .joinCode {
      background-color: $text-bubble;
      border: none;
      border-radius: $rounding;
      display: inline-block;
      height: 10vw;
      font-weight: 5vw;
      padding: 0.5%;
      font-size: 4vw;
      @media screen and (min-width: 760px) {
        font-size: 2vw;
        height: 5vw;
      }
      @media screen and (min-width: 1200px) {
        font-size: 1vw;
        height: 2.5vw;
      }
    }

    h1 {
      font-weight: bold;
      font-size: 6vw;
      margin-bottom: 4%;
      @media screen and (min-width: 760px) {
        font-size: 3vw;
      }
      @media screen and (min-width: 1200px) {
        font-size: 1.5vw;
      }
    }

    .settingsRow {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2%;
      margin-bottom: 2%;

      .desc {
        font-weight: bold;
        width: 100%;
        font-size: 4vw;
        display: block;
        flex: 0 0 100%;
        @media screen and (min-width: 760px) {
          font-size: 2vw;
        }
        @media screen and (min-width: 1200px) {
          font-size: 1vw;
        }

        span {
          font-weight: 700;
          width: 100%;
          font-size: 3vw;
          @media screen and (min-width: 760px) {
            font-size: 1.5vw;
          }
          @media screen and (min-width: 1200px) {
            font-size: 1vw;
          }
        }
      }
    }

    input {
      background-color: $text-bubble;
      border: none;
      border-radius: $rounding;
      width: 70%;
      height: 10vw;
      font-weight: 5vw;
      padding: 2%;
      font-size: 4vw;
      @media screen and (min-width: 760px) {
        font-size: 2vw;
        height: 5vw;
      }
      @media screen and (min-width: 1200px) {
        font-size: 1vw;
        height: 2.5vw;
      }
    }

    .saveBtn {
      width: 22%;
      margin-left: 4%;
      background-color: $primary-color;
      border: none;
      border-radius: $rounding;
      height: 10vw;
      color: white;
      font-weight: bold;
      font-size: 3vw;
      @media screen and (min-width: 760px) {
        font-size: 1.5vw;
        height: 5vw;
      }
      @media screen and (min-width: 1200px) {
        font-size: 1vw;
        height: 3vw;
      }
    }

    .deleteBtn {
      width: 90%;
      background-color: $secondary-color;
      border: none;
      border-radius: $rounding;
      height: 10vw;
      color: white;
      font-weight: bold;
      font-size: 4vw;
      position: absolute;
      left: 5%;
      bottom: 2%;
      @media screen and (min-width: 760px) {
        font-size: 2vw;
        height: 5vw;
      }
      @media screen and (min-width: 1200px) {
        font-size: 1vw;
        height: 2.5vw;
      }
    }
  }
}